:root {
  /* Primary */

  --clr-primary: hsl(220, 98%, 61%);

  /* Dark Theme */
  --clr-bg: hsl(235, 21%, 11%);
  --clr-tasks-bg: hsl(235, 24%, 19%);
  --clr-text-primary: hsl(234, 39%, 85%);
  --clr-text-primary-hover: hsl(236, 33%, 92%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-3-1: hsl(233, 14%, 35%);
  --clr-3-2: hsl(237, 14%, 26%);

  --font-family: 'Josefin Sans', sans-serif;
  /* 
  Available font widths: 
  - 400
  - 700
  */

  --page-bg: url("images/bg-mobile-dark.jpg") no-repeat,
  var(--clr-bg);
}


/* yeah prefers-color-scheme */
@media (prefers-color-scheme: light) {
  .light-theme {
    --clr-bg: hsl(236, 33%, 92%);
    --clr-tasks-bg: hsl(0, 0%, 98%);
    --clr-text-primary: hsl(235, 19%, 35%);
    --clr-text-primary-hover: hsl(236, 9%, 61%);
    --clr-text-secondary: hsl(236, 9%, 61%);
    --clr-3-1: hsl(236, 9%, 61%);
    --clr-3-2: hsl(233, 11%, 84%);
  
    --page-bg:  url("images/bg-mobile-light.jpg") no-repeat,
                var(--clr-bg);
  }
  
  .light-theme .toggler {
    background: url("images/icon-moon.svg") right no-repeat;
  }
}

@media (prefers-color-scheme: light) and (min-width: 900px) {
  .light-theme {
    --page-bg:  url("images/bg-desktop-light.jpg") no-repeat,
                var(--clr-bg);
  }

  .add-task-form,
  .tasks {
    box-shadow: 0 15px 30px -10px #00000044;
  }
}

/* UTILITY CLASSES */
.hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
} 

/* LIGHT THEME */
.light-theme {
  --clr-bg: hsl(236, 33%, 92%);
  --clr-tasks-bg: hsl(0, 0%, 98%);
  --clr-text-primary: hsl(235, 19%, 35%);
  --clr-text-primary-hover: hsl(236, 9%, 61%);
  --clr-text-secondary: hsl(236, 9%, 61%);
  --clr-3-1: hsl(236, 9%, 61%);
  --clr-3-2: hsl(233, 11%, 84%);

  --page-bg:  url("images/bg-mobile-light.jpg") no-repeat,
              var(--clr-bg);
}

.light-theme .toggler {
  background: url("images/icon-moon.svg") right no-repeat;
}

/* GLOBAL STYLES */

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-family);
  background: var(--page-bg);
  background-size: contain;
  padding: 1.5rem;
  min-height: 100vh;
}

.app-container {
  max-width: 540px;
  margin: auto;
}

.add-task-form {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.add-task-input {
  background: transparent;
  font-family: var(--font-family);
  color: var(--clr-text-primary);
  border: 0;
  flex: 1;
  margin: 0 5px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  outline: 0;
}

.add-task-input:focus {
  border-color: var(--clr-text-primary);
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

.header-title {
  font-size: 25px;
  letter-spacing: 10px;
}

.theme-toggler {
  border: none;
  width: 30px;
  height: 30px;

  position: relative;
}

.theme-toggler label {
  color: #999;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: 500ms;
}

.theme-toggler label.selected {
  top: 0;
  color: white;
  opacity: 1;
}

.theme-toggler label.move {
  top: 20px;
  opacity: 0;
}

.theme-toggler .light {
  background: url("./images/icon-sun.svg") right no-repeat;
}

.theme-toggler .dark {
  background: url("./images/icon-moon.svg") right no-repeat
}

.theme-toggler-input:focus-visible + span {
  outline: 10px solid var(--clr-primary);
  outline-offset: 10px;
}


.add-task-form,
.tasks {
  border-radius: 5px;
  background: var(--clr-tasks-bg);
}

.add-task-form button {
  border: 1px solid var(--clr-3-1);
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: inline-block;
  background: transparent;
}

.add-task-form button:hover {
  border-color: var(--clr-text-primary-hover);
}

.tasks {
  padding-top: 0;
  margin: 20px 0;
}

.dropzone-indicator {
  list-style: none;
  color: white;
  text-align: center;
  padding: 10px;
  background: var(--clr-primary);
}

.task {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--clr-3-2);
}

/* TODO: grabbing cursor while dragging */

.title {
  font-size: 1rem;
  flex: 1;
  color: var(--clr-text-primary);
  padding-left: 39px;
  cursor: grab;
  transition: color 200ms;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.title:hover {
  color: var(--clr-text-primary-hover);
}

.title::before, .title::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: var(--clr-3-1);
  top: -2px;
  left: 0;
  border-radius: 100px;
  transition: 100ms;
}

.title::after {
  width: 22px;
  height: 22px;
  top: -1.5px;
  left: 1.5px;
  background: var(--clr-tasks-bg);
}

.done .title::before, .title:hover::before {
  background: url("images/icon-check.svg") no-repeat center, 
              linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.done .title::after {
  background: none;
}

.done .title {
  color: var(--clr-text-secondary);
  text-decoration: line-through;
}

.done .title:hover {
  color: var(--clr-text-secondary);
}

.task input:focus-visible + label::before {
  outline: 3px solid var(--clr-primary);
  outline-offset: 2px;
}

.remove-task-button {
  display: inline-block;
  background: transparent;
  border: 0;
  width: 19px;
  height: 19px;
  background: url("images/icon-cross.svg") no-repeat;
  transition: outline 100ms, outline-offset 100ms;
}

.remove-task-button:focus-visible {
  outline: 3px solid var(--clr-primary);
  outline-offset: 2px;
}

.controls {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--clr-text-secondary);
  font-size: 0.9rem;
  position: relative;
}

.controls a {
  color: var(--clr-text-secondary);
  text-decoration: none;
}

.controls ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.controls button {
  color: var(--clr-text-secondary);
  border: 0;
  background-color: transparent;
  font-family: var(--font-family);
  transition: color 200ms, outline 100ms, outline-offset 100ms;
}

.controls button:focus-visible {
  outline: 3px solid var(--clr-primary);
  outline-offset: 2px;
}

.controls button:hover {
  color: var(--clr-text-primary-hover);
}

.controls button.selected {
  color: var(--clr-primary);
}

.controls ul button {
  font-weight: bold;
}

.controls li + li {
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .controls ul {
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
    padding: 15px 20px;
    background: var(--clr-tasks-bg);
    border-radius: 5px;
  }

  .bottom-tip {
    position: relative;
    top: 75px;
    font-size: 0.9rem;
  }

  .attribution {
    position: relative;
    top: 85px;
    margin-bottom: 10px;
  }
}

.bottom-tip {
  margin: 20px 0;
  color: var(--clr-text-secondary);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-3-1);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
  :root {
    --page-bg:  url("images/bg-desktop-dark.jpg") no-repeat,
                var(--clr-bg);
  }

  .light-theme {
    --page-bg:  url("images/bg-desktop-light.jpg") no-repeat,
                var(--clr-bg);
  }

  body {
    padding: 20px;
  }

  header {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .header-title {
    font-size: 35px;
    letter-spacing: 20px;
  }

  .add-task-form {
    padding: 20px 25px;
  }

  .add-task-input {
    margin: 0 20px;
  }

  .add-task-form,
  .tasks {
    box-shadow: 0 30px 40px -5px #00000088;
  }

  .light-theme .add-task-form,
  .light-theme .tasks {
    box-shadow: 0 15px 30px -10px #00000044;
  }

  .task {
    padding: 20px 25px;
  }

  .task .title {
    padding-left: 49px;
  }
  
  .controls {
    padding: 15px 20px;
  }

  .controls li + li {
    margin-left: 20px;
  }

  .bottom-tip {
    margin: 50px 0;
    margin-bottom: 30px;
  }
}
